*{
    margin: 0;
}

body,html{
	background-color: #000;
	width: 100%;
	height: 100%;
	overflow:hidden;
}

#canvas{
	position: fixed;
	width: 100%;
	height: 100%;
}

.dom-glsl{
	background: #000;
	position: absolute;
	width: 500px;
	height: 500px;
	left: 50%;top: 50%;
	transform: translate3D(-50%,-50%,0)
}