$width-middle:1200px;
$width-tab:1000px;
$sp-width: 800px;

@mixin sp($max-width:$sp-width) {
	@media only screen and(max-width: $max-width) {
		@content;
	}
}

@mixin pc($min-width:$sp-width) {
	@media only screen and(min-width: $min-width) {
		@content;
	}
}

*{
	margin: 0;
	color: white;
    font-family: 'Comfortaa', sans-serif;
}

html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

ul {
	list-style: none;
	padding: 0;
}


#canvas{
	position: fixed;
	left: 0; top: 0;
	width: 100%; height: 100%;
	z-index: -99;
}

.transform-container {
	width: 100%;
	position: absolute;
	left: 0; top: 0;
	
	.section{
		width: 80%;
		min-height: 100vh;
		margin: 0 auto;
		padding: 70px 0;
	}
	
	.mainVis {
		.title-wrapper {
			text-align: center;
			display: block;
			.title {
				font-size: 60px;
				@include sp{
					font-size: 40px;
				}
				&-sub{
					padding-top: 5px;
					font-size: 20px;
				}
			}
		}
	}

	.about {
		padding-top: 200px;

		@include sp{
			padding-top: 50px;
		}

		h1 {
			font-size: 40px;
			padding-bottom: 30px;

			@include sp{
				font-size: 30px;
			}
		}
		&-inner {
			// background-color: rgba($color: #000000, $alpha: 0.1);
			// padding: 20px 30px;
			// border-radius: 20px;
			width: 80%;
			max-width: 700;

			@include sp{
				width: 100%;
			}

		}
		&-desc {
			margin-bottom: 50px;
		}

		&-example{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			width: 100%;
			padding: 0;

			&-item{
				width: 30%;
				list-style: none;

				@include sp{
					width: 100%;
				}
				
				figure{
					width: 100%;
					margin-bottom: 40px;

					a {
						width: 100%;
						display: block;
						margin-bottom: 10px;
					}
					img {
						width: 100%;
						border-radius: 8px;
					}
					figcaption {
						font-size: 14px;
					}
				}
			}
		}

		&-more {
			display: block;
			text-align: right;
		}
	}
	
	.usage {

		padding-top: 100px;

		@include sp{
			padding-top: 50px;
		}

		h1 {
			font-size: 40px;
			padding-bottom: 30px;

			@include sp{
				font-size: 30px;
			}
		}
		&-inner {
			// background-color: rgba($color: #000000, $alpha: 0.1);
			// padding: 20px 30px;
			// border-radius: 20px;
			width: 80%;
			max-width: 600;
			margin-left: auto;

			@include sp{
				width: 100%;
			}

		}

		p {
			margin-bottom: 10px;
			.small {
				font-size: 12px;
			}
		}
		.install {
			padding-bottom: 30px;
		}

		.import {
			padding-bottom: 30px;
		}

		.code {
			display: inline-block;
			padding: 10px 20px;
			background-color: rgba($color: #000000, $alpha: 0.4);
			border-radius: 5px;
		}
	}
	
	.link{
		&-list{
			
		}

	}
}

