*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,html{
	background-color: #000;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

.back{
    position: absolute;
    left: 5%;
    top: 30px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

#canvas{
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.wrapper {
	width: 100%;
	padding-top: 100px;
}

.item {
	width: 50%;
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 150px;

	&-inner {
		padding-top: 100%;
	}
}